body{
    background-color: rgb(224, 225, 221);
}

.grow{
	size: 1;
	transition: all, .3s ease-out;
}

.grow:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#linhafooter {
    height: 2px;
    background-color: lightgray;
    border-color: lightgray;
    border: 0px;
    background-color: gray;
}

footer {
    background-color: rgb(13, 27, 42);
    text-align: center;
    align-items: center;
    color: #b3aeae;
    font-size: 15px;
    margin-top: 30px;
}


@media screen and (max-width: 720px){
    .imagemIlustrativa{
        width: 100%;
		height: auto;
    }
}