body{
    background-color: rgb(224, 225, 221);
}

.grow{
	size: 1;
	transition: all, .3s ease-out;
}

.grow:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



@media screen and (max-width: 720px){
    .imagemIlustrativa{
        width: 100%;
		height: auto;
    }
}
